<a href="https://colab.research.google.com/github/EvertonVaz/dioCienciaDados/blob/main/ETL_dio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ETL
- ETL é um tipo de data integration em três etapas (extração, transformação, carregamento) usado para combinar dados de diversas fontes. Ele é comumente utilizado para construir um data warehouse

  - Extrair: O processo de Extração de dados consiste em se comunicar com outros sistemas ou bancos de dados para capturar os dados que serão inseridos no destino, seja uma Staging Area ou outro sistema.
  
  - Transformar: O processo de Transformação de Dados é composto por várias etapas : padronização, limpeza, qualidade. Dados vindos de sistemas diferentes tem padrões diferentes seja de nomenclatura ou mesmo de tipos de dados VARCHAR2 Oracle ou VARCHAR Sql Server.

  - Carregar: O processo de Load é a etapa final onde os dados são lidos das áreas de staging e preparação de dados, carregados no Data Warehouse ou Data Mart Final.

- Ferramentas
  - Existem muitas ferramentas de ETL disponíveis no mercado como: IBM Information Server (Data Stage), o Oracle Data Integrator (ODI), o Informatica Power Center, o Microsoft Integration Services (SSIS). Existe também um conjunto de Ferramentas de ETL Open Source como o PDI – Pentaho Data Integrator e Talend ETL.  

- Vantagens
  - Garantia significativa da qualidade dos dados
    - A Ferramentas de ETL, através de sequências de operações e instruções tem condições de solucionar problemas de maior complexidade

  - Funcionalidade de execução
    - Uma ferramenta de ETL já possui suas funções específicas, sendo necessária apenas a atenção no fluxo de dados.

  - Desenvolvimento das cargas
    - Mesmo que o usuário não seja técnico poderá desenvolver uma rotina de carga em uma ferramenta de ETL, devido a facilidade e rapidez para codificação.

  - Manutenção das cargas
    - As tarefas de manutenção de uma rotina de carga são mais simples de realizar em relação à manutenção de código.

  - Metainformação
    - Os metadados (informações úteis para identificar, localizar, entender e gerenciar os dados) são gerados e mantidos de forma automática com a ferramenta, evitando problemas de geração de informações incorretas na finalização do processo. 

  - Performance
    - Os métodos mais usados para trabalhar com grandes volumes conseguem extrair, transformar e carregar dados com maior velocidade e menos recursos, como gravações em bloco e operações não logadas.

  - Transferência
    - Ferramentas de ETL podem ser deslocadas de um servidor mais facilmente ou distribuídas entre vários servidores.

  - Conectividade
    - A conexão de uma ferramenta de ETL com múltiplas fontes de dados é transparente. Caso sejam precisas mais fontes como o SAP, VSAM, Mainframe ou qualquer outra, basta a aquisição do conector sem a necessidade de codificar um.

  - Reinicialização
    - Ferramentas possuem a capacidade de reiniciar a carga de onde pararam sem a necessidade de codificação.

  - Segurança e Estabilidade
    - É possível articular melhor a segurança tornado-a mais modular, dividindo as finalidades (criação de cargas, execução de cargas, agendamento, etc.)

In [1]:
import pandas as pd

Exemplo de extração de dados com a biblioteca pandas

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/Muralimekala/python/master/Resp2.csv')
df.head()

   experience  respiration
0           0         3.94
1           0         4.26
2           0         4.16
3           0         3.76
4           0         4.07

In [6]:
sf = pd.read_csv('https://raw.githubusercontent.com/Muralimekala/python/master/Salaries.csv')
sf.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN